---
---

// Reset using Normalize
@import "normalize";

// Note: Google Fonts are now loaded via <link> in head.html for better performance
// This avoids render-blocking @import statements

// Site configuration
@import "config";

// Import Partials
@import "partials/typography";
@import "partials/mixins";
@import "partials/demo";
@import "partials/banner-ad";
@import "partials/shop-ad";
@import "partials/social-share";
@import "partials/breadcrumb";
@import "partials/home";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) {
	@import "breakpoints/800up";
}
@media only screen and (min-width: 1200px) {
	@import "breakpoints/1200up";
}

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes
